.create-form-outer-div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.create-form-field-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.create-form-field-div-checkbox {
    display: flex;
    flex-direction: row;
    column-gap: 9px;
    margin: 10px;
}


.create-form-submit-button {
    border-radius: 6px;
    border: none;
    background-color: black;
    color: white;
    padding: 3px 12px 3px 12px;
    transition: opacity 0.15s;
}

.create-form-submit-button:hover {
    opacity: 0.6;
}

input {
    border-radius: 10px;
}
